:root {
  --primary-blue: #007BFF;
  --primary-white: #FFFFFF;
  --primary-black: #000000;
}

.top-layer {
  background-color: var(--primary-blue);
  padding: 50px;
  color: black;
  min-height: 100vh;
}
.second-layer {
  background-color: #808080;
  padding: 50px;
}

.Personal-header {
  width: 150px;
  height: 150px;
  border-radius: 50% ;
  object-fit: cover; 
}
.center {
  text-align: center;
}
