.top-layer {
  background-color: var (--primary-blue;)
  padding: 50px;
  color: white;
}
.second-layer {
  background-color: white;
  padding: 50px;
}

.Personal-header {
  width: 150px;
  height: 150px;
  border-radius: 50% ;
  object-fit: cover; 
}
.center {
  text-align: center;
}
