:root {
  --primary-blue: #007BFF;
  --primary-white: #FFFFFF;
  --primary-gray: #808080;
}
.buttons {
  display:flex;
  gap:15px;
}
.top-layer {
  background-color: var(--primary-blue);
  padding: 30px 20px;
  color: white;
  text-align:center;
}
.second-layer {
  background-color: var(--primary-gray);
  flex-grow:1;
  display:flex;
}

.Personal-header {
  width: 150px;
  height: 150px;
  border-radius: 50% ;
  object-fit: cover; 
}
.center {
  text-align: center;
}
